name: mount

on:
  schedule:
    # run at CST 11:00 and 23:00
    - cron:  '0 3,15 * * *'
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-erofs-utils:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        libnl3: [true, false]
    steps:
      - uses: actions/checkout@v4
      - name: Build erofs-utils (libnl3=${{ matrix.libnl3 }})
        run: |
          sudo apt -qq update
          sudo apt-get install -y libfuse-dev libselinux1-dev libcurl4-openssl-dev libjson-c-dev
          if [ "${{ matrix.libnl3 }}" = "true" ]; then
            sudo apt-get install -y libnl-3-dev libnl-genl-3-dev
          fi
          git clone ${{ vars.EROFSUTILS_SOURCE_URL }} -b experimental
          cd erofs-utils
          mkdir output
          libnl3_flag=""
          if [ "${{ matrix.libnl3 }}" = "true" ]; then
            libnl3_flag="--with-libnl3"
          fi
          ./autogen.sh && ./configure --enable-debug --enable-werror --enable-fuse --with-selinux \
              --enable-oci --with-libcurl --with-json-c ${libnl3_flag} \
              --prefix=$(pwd)/output
              make && make install
          cp $(pwd)/mount/mount.erofs $(pwd)/output/bin/
      - name: Upload erofs-utils
        uses: actions/upload-artifact@v4
        with:
          name: erofs-utils${{ matrix.libnl3 == true && '-with-nl' || '-wo-nl' }}
          path: |
            erofs-utils/output

  mount-test:
    runs-on: ubuntu-22.04
    needs: build-erofs-utils
    strategy:
      matrix:
        test_type: [local, nbdlocal, nbdoci]
        build_with_libnl3: [true, false]
        runtime_libnl3: [true, false]
        exclude:
          # local test only needs with-nl configuration
          - test_type: local
            build_with_libnl3: false
          - test_type: local
            runtime_libnl3: false
    steps:
      - uses: actions/checkout@v4
      - name: Download erofs-utils prebuilts (build=${{ matrix.build_with_libnl3 == true && 'with-nl' || 'wo-nl' }}, runtime=${{ matrix.runtime_libnl3 == true && 'with-nl' || 'wo-nl' }})
        uses: actions/download-artifact@v4
        with:
          name: erofs-utils${{ matrix.build_with_libnl3 == true && '-with-nl' || '-wo-nl' }}
      - name: Run ${{ matrix.test_type }} mount test
        env:
          REGISTRY_USERNAME: ${{ github.actor }}
          REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sudo apt -qq update
          sudo apt-get install -y libfuse2 fuse-overlayfs libssl-dev
          if [ "${{ matrix.runtime_libnl3 }}" = "true" ]; then
            sudo apt-get install -y libnl-3-200 libnl-genl-3-200
          fi
          if [[ "${{ matrix.test_type }}" == nbd* ]]; then
            sudo modprobe nbd
          fi
          chmod +x bin/mkfs.erofs bin/fsck.erofs bin/erofsfuse bin/mount.erofs
          ./mount-test ${{ matrix.test_type }}
      - name: Upload images if the test fails
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: mount-${{ matrix.test_type }}-images-build${{ matrix.build_with_libnl3 == true && '-with-nl' || '-wo-nl' }}-runtime${{ matrix.runtime_libnl3 == true && '-with-nl' || '-wo-nl' }}
          path: 'test-images/*.img'
