name: ocierofs

on:
  schedule:
    # run at CST 9:00 and 21:00
    - cron:  '0 1,13 * * *'
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-erofs-utils:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Build erofs-utils
        run: |
          sudo apt -qq update
          sudo apt-get install -y libfuse-dev libselinux1-dev libcurl4-openssl-dev libjson-c-dev
          curl -L https://github.com/lz4/lz4/archive/refs/tags/v1.9.4.tar.gz | tar -zxv
          make BUILD_SHARED=no -C lz4-1.9.4 && lz4libdir=$(pwd)/lz4-1.9.4/lib
          git clone ${{ vars.EROFSUTILS_SOURCE_URL || 'https://github.com/erofs/erofs-utils' }} -b experimental erofs-utils
          cd erofs-utils
          mkdir output
          ./autogen.sh && ./configure --enable-debug --enable-werror --enable-fuse --with-selinux \
              --enable-oci --with-libcurl --with-json-c \
              --prefix=$(pwd)/output \
              --with-lz4-incdir=${lz4libdir} --with-lz4-libdir=${lz4libdir} && \
              make && make install
      - name: Upload erofs-utils
        uses: actions/upload-artifact@v4
        with:
          name: erofs-utils
          path: |
            erofs-utils/output

  erofsfuse-oci-smoking:
    runs-on: ubuntu-22.04
    needs: build-erofs-utils
    strategy:
      matrix:
        pass: [0, 1, 2, 3, 4, 5, 6]
    steps:
      - uses: actions/checkout@v4
      - name: Download erofs-utils prebuilts
        uses: actions/download-artifact@v4
        with:
          name: erofs-utils
      - name: Verify image built from OCI
        run: |
          sudo apt -qq update
          sudo apt-get install -y libfuse2 fuse-overlayfs libssl-dev skopeo
          chmod +x bin/mkfs.erofs bin/fsck.erofs bin/erofsfuse
          ./erofsfuse-oci-test ${{ matrix.pass }} docker.io/library/alpine:latest
      - name: Upload images if the test fails
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: erofsfuse-oci-images
          path: '*.img'
