name: tarerofs

on:
  schedule:
    # run at CST 9:00 and 21:00
    - cron:  '0 1,13 * * *'
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-erofs-utils:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Build erofs-utils
        run: |
          sudo apt -qq update
          sudo apt-get install -y libfuse-dev libselinux1-dev
          curl -L https://github.com/lz4/lz4/archive/refs/tags/v1.9.4.tar.gz | tar -zxv
          make BUILD_SHARED=no -C lz4-1.9.4 && lz4libdir=$(pwd)/lz4-1.9.4/lib
          git clone git://git.kernel.org/pub/scm/linux/kernel/git/xiang/erofs-utils.git -b experimental
          cd erofs-utils
          mkdir output
          ./autogen.sh && ./configure --enable-debug --enable-werror --enable-fuse --with-selinux \
              --prefix=$(pwd)/output \
              --with-lz4-incdir=${lz4libdir} --with-lz4-libdir=${lz4libdir} && \
              make && make install
      - name: Upload erofs-utils
        uses: actions/upload-artifact@v3
        with:
          name: erofs-utils
          path: |
            erofs-utils/output

  erofsfuse-kbuild-smoking:
    runs-on: ubuntu-22.04
    needs: build-erofs-utils
    strategy:
      matrix:
        pass: [0, 1, 2, 3, 4, 5, 6]
    steps:
      - uses: actions/checkout@v3
      - name: Download erofs-utils prebuilts
        uses: actions/download-artifact@v3
        with:
          name: erofs-utils
      - name: Build 5.4 LTS kernel image with erofsfuse
        run: |
          sudo apt -qq update
          sudo apt-get install -y libfuse2 fuse-overlayfs libssl-dev libelf-dev flex bison dwarves
          chmod +x bin/mkfs.erofs bin/fsck.erofs bin/erofsfuse
          curl -o linux-5.4.256.tgz https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.4.256.tar.gz
          ./erofsfuse-kbuild-test ${{ matrix.pass }} linux-5.4.256.tgz
      - name: Upload images if the test fails
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: erofsfuse-kbuild-images
          path: '*.img'
